body {
    font-family: "Helvica", sans-serif;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

table td,
table th {
    border: 1px solid black;
    padding: 3px;
}

tr,
td {
    text-align: right;
}

th{
    text-align: center;
}

.mergedCols {
    text-align: right;
}

.mergedRows {
    text-align: right;
}