html {
    background: rgb(238, 238, 238);
}

section {
    max-width: 70rem;
    margin: 0 auto;
}

.gallery li {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    margin: 0.3rem;
    padding: 1rem 1rem;
    border: 0.4rem solid #000;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.gallery li img {
    width: 100%;
    height: auto;
    /* position: absolute; */
    top: 0;
    left: 0;
}