@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: "Lato", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

form{
    height: 400px;
    display: flex;
    width: 45%;
    margin: 5rem auto;
    flex-direction: row;
}

#first {
    background: linear-gradient(rgba(119, 162, 241, 0.6), rgba(56, 8, 42, 0.6)), url(Images/peak.jpg) no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    width: 60%;
    border-radius: 10px 0 0 10px;
}

#first h1 {
    font-weight: bold;
    text-transform: capitalize;
    padding: 1rem 0;
}

#first p:nth-child(2) {
    font-style: italic;
    padding-top: 17rem;
}

#first p:nth-child(3) {
    color: #D3D3D3;
    padding-top: 0.5rem;
}

#second {
    background: white;
    display: inline-block;
    width: 43%;
    border: 3px solid #38082A;
    border-radius: 0 10px 10px 0;
    padding: 5rem 2rem 0 5rem;
}

#second label {
    color: rgb(218, 217, 220);
    text-transform: uppercase;
    width: 100%;
    display: inline-block;
    padding-bottom: 0.5rem;
}

#second input {
    border: none;
    border-bottom: 2px solid #989696;
    margin-bottom: 0.5rem;
    width: 80%;
    font-size: 18px;
}

#second>div:nth-child(5)>input[type="submit"] {
    color: white;
    text-transform: capitalize;
    background: rgb(56, 8, 42);
    border-radius: 5px;
    width: 56%;
    font-size: 14px;
    padding: 0.5rem 0.6rem;
    margin-top: 1rem;
}

#second>div:nth-child(5)>p {
    display: inline;
}

#second>div:nth-child(5)>p>span {
    color: rgb(56, 8, 42);
}

#password,
#rep-password {
    font-size: 30px;
    font-weight: bold;
}