.get-start-free {
    background: rgb(39, 54, 72);
    color: rgb(255, 255, 255);
    text-align: center;

    h2 {
        padding-top: $sizing-ws-base / 2;
    }

    .form {
        background: rgb(39, 54, 72);
    }
}