@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Typography global style */

html {
    font-size: 16px;
    font-family: var(--font-family-PT-Sans, 'PT Sans', sans-serif);
}

body {
    width: 60%;
    margin: 2rem auto;
}

body h1 {
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: var(--font-family-PT-Serif, 'PT Serif', serif);
    margin-bottom: 1rem;
}

section p:first-child {
    text-align: center;
}

p {
    margin-bottom: 1rem;
}