@import url('https://fonts.googleapis.com/css?family=Cormorant');
@import url('https://fonts.googleapis.com/css?family=Lato');

html {
    font-family: Lato, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    margin: 5%;
}

body>article:nth-child(2)>ul {
    list-style-type: square;
}

body>article:nth-child(2)>ul>li:nth-child(2)>ul {
    list-style-type: disc;
}

body>article:nth-child(2)>ul>li:nth-child(2)>ul>li:nth-child(2)>ul {
    list-style-type: circle;
}

h1, h2 {
    font-family: Cormorant, serif;
    line-height: 1.2;
    font-weight: bold;
}