html {
    font: 16px/1.5 Verdana, sans-serif;
}

body {
    padding: 1em 15em;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
}

body>header:first-of-type {
    text-align: center;
}