@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i&display=swap&subset=latin-ext');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Typography global style */

html {
    font: 12px/1.5 Open Sans, Helvetica, Verdana, sans-serif;
}

@media (min-width: 600px) {
    html { font-size: 14px; }
}

@media (min-width: 1024px) {
    html { font-size: 16px; }
}

@media (min-width: 1440px) {
    html { font-size: 18px; }
}

@media (min-width: 1920px) {
    html { font-size: 21px; }
}

body, table, form, input, select, textarea, legend, label, button {
    font: inherit;
}

p,
ul,
ol {
    padding-bottom: 1.5rem;
}

ul,
ol {
    padding-left: 2rem;
}

li ul,
li ol {
    padding-top: 0.5rem;
}

ul > li {
    list-style: circle
}

ul > li > ul > li {
    list-style: square
}

ul > li > ul > li > ul > li {
    list-style: disc;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Open Sans, serif;
    /* font-weight: normal; */
    line-height: 1.1;
    margin: 0 0 0.5em 0;
    padding: 0;
}

h1 { font-size: 3.052rem; }
h2 { font-size: 2.441rem; }
h3 { font-size: 1.953rem; }
h4 { font-size: 1.563rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

hr {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}

blockquote {
    padding-left: 2rem;
    line-height: 1.8;
    display: inline-block;
    font-style: italic;
    text-align: right;
}


blockquote p.author {
    float: right;
}

/* all but last paragraph (author) will have font-style: italic */
blockquote p:not(:last-child) {
    font-style: italic;
}

/* paste quote before paragraph */
blockquote p:first-child:before {
    display: inline-block;
    content: '"';
    font-size: 2rem;
    line-height: 1;
    padding-right: 1rem;
}

/* paste quote in the last but one line after text */
blockquote p:nth-child(2):after {
    display: inline-block;
    content: '"';
    font-size: 2rem;
    line-height: 0;
    padding-left: 1rem;
}

blockquote p:last-child {
    font-weight: bold;
    text-align: right;
}

table {
    margin-bottom: 1.5rem;
}

table,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table tr:nth-child(even) {
    background-color: white;
}

table tr:nth-child(odd) {
    background-color: rgb(241, 241, 241);
}