body {
	display: grid;
	grid-template-columns: 7fr 3fr;
	grid-gap: 2rem;
	padding: 2rem;
}

header,
footer {
	grid-column-start: span 2;
}

header,
main,
aside,
footer {
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	padding: 2rem;
	border-radius: 0.3rem;
}

header:hover,
main:hover,
aside:hover,
footer:hover {
	opacity: 0.5;
}