@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

html{
    font: 16px/1.5 Raleway, sans-serif;
    margin: 1.5em;
}

article h1, article h2{
    font: 1.5em/1.2 Great Vibes, cursive;
    font-weight: bold;
}