form {
    max-width: 30rem;
    margin: 0 auto;
}

.sign-up-box {
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-color: rgb(104, 52, 123);
    padding: 2rem;
    box-shadow: 0 0 2rem 0.3rem rgba(0, 0, 0, 0.3);
}

.sign-up-box > header {
    color: rgb(255,255,255);
}

.input-wrapper {
    display: flex;
    justify-content: center;
}

.input-wrapper .input {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
}

.input-wrapper .input:after {
    display: block;
    content: '';
}

.input-wrapper .input input {
    flex: 1 1 auto;
    margin-right: 0.5rem;
    padding: 0.3rem 0.8rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.4em;
    z-index: 1000;
}

.input-wrapper .input input:focus {
    border: 2px solid rgb(0, 153, 0);
}