table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 1.5rem;
    border: 1px solid #CCC;
    border-spacing: 0;
    border-collapse: collapse;
}

table td,
table th {
    border: 1px solid #CCC;
    padding: 0.3rem 0.5rem;
}

table thead th {
    text-align: left;
    background: #CCC;
}

table tr:nth-child(odd) td {
    background: #F1F1F1;
}

table tr:hover td {
    background: black;
    color: rgb(241, 241, 241);
    border-color: transparent;
}