body {
    font-family: "Helvica", sans-serif;
    margin: 0;
    padding: 0;
    width: 70%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
}

table,
td,
tr,
th {
    border: 1px solid #000000;
    border-collapse: collapse;
}

td,
th {
    padding: 10px;
}

.bold {
    font-weight: bold;
    text-align: center;
}

.result {
    width: 400px;
    text-align: left;
    padding-left: 5px;
}