@import url('typography.css');

body {
    background: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    padding: 2rem;
}

.site {
    max-width: 50rem;
    /* margin: 0 auto; */
}

.site-sidebar header.aside-header,
.site article header.site-header {
    margin: 1.5rem 0;
}

.site-sidebar section.sidebar-list,
.site article section.article-list {
    margin-left: 3rem;
    margin-bottom: 1rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1rem auto;
}

.site article section.image {
    /* overflow: hidden; */
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 1.5rem;
    position: relative;
}

.site.image img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}