section {
    background: lightgray;
    position: fixed;
    color: #52527a;
    font-family: "Helvetica", sans-serif;
    padding: 30px;
    margin-left: 35%;
    margin-top: 2%;
}

#title {
    text-align: center;
}

li {
    border-bottom: 2px solid grey;
    padding-right: 50px;
    font-weight: normal;
}

ol {
    border-spacing: 2em;
}