:root {
    --color-main-bgrd: rgb(153, 0, 0);
    --color-main-text: rgb(255, 255, 255);
}

body {
    background: var(--color-main-bgrd, rgb(0, 0, 0));
    color: var(--color-main-text, rgb(255, 255, 255));
}