body {
    padding: 4rem;
}

.cards-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* ако не са винаги по един и същи брой на ред */
.cards-list:after {
    display: block;
    content: '';
    flex: 0 0 30%;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 1 24rem;
    margin-bottom: 4%;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
}

.card-media {}

.image-main {
    background: rgb(221, 221, 221);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}

.image-main:after {
    display: block;
    content: '';
    padding-top: 56.25%;
}

.image-main img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1.3s ease;
}

/* flex-grow заради .card */
.card-content {
    flex-grow: 1;
    padding: 1rem 1.2rem;
    border: solid rgb(204, 204, 204);
    border-width: 1px 0;
}

.card-content-inner p:last-child {
    padding: 0;
}

.card-content .category {
    display: block;
    color: rgb(255, 140, 0);
    text-decoration: none;
}

.card-footer {
    display: flex;
}

.card-footer a {
    flex-grow: 1;
    display: block;
    padding: 1em;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
}