@import url('https://fonts.googleapis.com/css?family=Helvetica');
@import url('https://fonts.googleapis.com/css?family=Georgia');

html {
    font: 16px/1.5/Helvetica, sans-serif;
}

body {
    font: inherit;
}

p {
    padding-bottom: 1.5rem;
}

p,
ul,
ol {
    padding-bottom: 1.5rem;
}

ul,
ol {
    padding-left: 2rem;
}

li ul,
li ol {
    padding-top: 0.5rem;
}

ul>li {
    list-style: circle
}

ul>li>ul>li {
    list-style: square
}

ul>li>ul>li>ul>li {
    list-style: disc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    padding-bottom: 0.3em;
    padding-top: 0.5em;
}

blockquote {
    font-family: blockquote;
    padding-left: 1.8rem;
    line-height: 1.8rem;
    display: inline-block;
    font-style: italic;
    text-align: right;
}

h1 {
    font-size: 2rem;
    margin-top: 2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.5rem;
}

h1,
h2,
h3,
blockquote {
    font-family: Georgia, serif;
}


blockquote p:not(:last-child) {
    font-style: italic;
}

blockquote p:last-child {
    text-align: right;
    font-weight: bold
}


blockquote p:first-child::before {
    display: inline-block;
    content: '"';
    font-size: 1.5rem;
    line-height: 1;
    padding-right: 1rem;
}


blockquote p:nth-last-child(2)::after {
    display: inline-block;
    content: '"';
    font-size: 1.5rem;
    line-height: 1;
    padding-left: 1rem;
}

table {
    margin-bottom: 1.5rem;
}

table,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table tr:nth-child(odd) {
    background-color: white;
}

table tr:nth-child(even) {
    background-color: rgb(220, 220, 220);
}

body>article:nth-child(10)>table>thead>tr {
    font-style: bold;
    background-color: rgb(160, 160, 160);
}