@import url('https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext');

/* Reset.css */

* {
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

html {
    font: 16px/1.5 PT Sans, Helvetica, Verdana, sans-serif;
}

p {
    padding-bottom: 1em;
}

h1, h2, h3, h4, h5, h6{
    font-family: PT Sans, serif;
    line-height: 1.1;
    margin: 0 0 0.5em 0;
    padding: 0;
}

h1 { font-size: 3.0em; font-weight: normal; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.9em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }